@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
.header {
    background: rgb(9,0,162);
    background: linear-gradient(90deg, rgba(9,0,162,1) 0%, rgba(0,0,255,1) 35%, rgba(0,212,255,1) 100%);
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.header-title {
    color: white;
    font-weight: boldsty;
}
.header-navigation {
    display: flex;
    justify-content: center;
}
.header-navigation-link {
    text-decoration: none;
    color: black;
    margin-right: 10px;
    margin-top: 30px;
}
.header-navigation-link:hover {
    color: yellow;
}
.invite {
    background: rgb(255,0,0);
    background: linear-gradient(90deg, rgba(255,0,0,1) 0%, rgba(255,117,117,1) 100%);  
    padding: 200px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.invite-title {
    font-family: 'Ubuntu', sans-serif;
    font-size: 50px;
    color: white;
}
.invite-button {
    background-color: purple;
    color: white;
    font-weight: bold;
    border-radius: 50px;
    border: none;
    width: 100px;
    height: 50px;
}
.invite-button:hover {
    background-color: orange;
}
.button {
    width: 216px;
    height: 50px;
    background-color: cornflowerblue;
    color: white;
    border: 1px solid cornflowerblue;
}
.button1 {
    margin-left: 140px;
}
.backdrop {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0, 0,5);
    opacity: 1;
}
.is-hidden {
    opacity: 0;
    pointer-events: none;
}
.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 500px;
    height: 700px;
    padding: 10px;
    border-radius: 10px;
    background-color: antiquewhite;
    transform: translate(-50%, -50%);
    font-family: 'Ubuntu', sans-serif;
}
.modal-title {
    text-align: center;
}
.form {
    display: flex;
    flex-direction: column;
}
input {
    margin: 5px;
}
textarea {
    margin: 5px;
}
.checkbox {
    display: flex;
}
.button2 {
    margin-top: 75px;
    margin-left: 140px;
}
.projects {
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 10px;
    padding-right: 10px;
}
.projects-title {
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    font-size: 50px;
}
.projects-cards {
    display: flex;
    justify-content: center;
}
.projects-card {
    border: 5px solid green;
    border-radius: 20px;
    background: rgb(140,255,0);
    background: linear-gradient(0deg, rgba(140,255,0,1) 0%, rgba(0,255,19,1) 100%); 
    font-family: 'Ubuntu', sans-serif;
    font-size: 15px;
    color: black;
    padding: 10px;
    margin: 10px;
    width: 300px;
    height: 300px;
}
.projects-card-image {
    border-radius: 10px;
}
.projects-card-link {
    font-weight: bold;
    text-decoration: none;
    border-radius: 20px;
    background-color: red;
    color: white;
    width: 20px;
    height: 10px;
    padding: 5px;
}
.aboutus {
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 10px;
    padding-right: 10px;
}
.aboutus-title {
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    font-size: 50px;
}
.aboutus-text {
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
}
.ourteam {
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 10px;
    padding-right: 10px;
}
.ourteam-title {
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    font-size: 50px; 
}
.ourteam-text {
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
}
.ourteam-cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.ourteam-card {
    border: 5px solid black;
    border-radius: 20px;
    background: rgb(255,186,0);
    background: linear-gradient(90deg, rgba(255,186,0,1) 0%, rgba(255,139,0,1) 100%); 
    font-family: 'Ubuntu', sans-serif;
    font-size: 15px;
    color: white;
    padding: 10px;
    margin: 10px;
    width: 300px;
    height: 300px;
}
.ourteam-card-image {
    border-radius: 15px;
}
.games {
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 10px;
    padding-right: 10px;
}
.games-title {
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    font-size: 50px;
}
.games-cards {
    display: flex;
    justify-content: center;
}
.games-card {
    border: 5px solid black;
    border-radius: 20px;
    background: rgb(63,94,251);
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%); 
    font-family: 'Ubuntu', sans-serif;
    font-size: 15px;
    color: white;
    padding: 10px;
    margin: 10px;
    width: 300px;
    height: 300px;
}
.games-card-image {
    border-radius: 20px;
    margin-left: 75px;
}
.footer {
    padding: 10px;
    background-color: black;
}
.footer-title {
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    font-size: 40px;
    color: white; 
}
.footer-cards {
    display: flex;
    justify-content: space-between;
}
.footer-text {
    font-family: 'Ubuntu', sans-serif;
    font-size: 15px;
    color: white;
}
.footer-list {
    list-style: none;
}
.footer-link {
    text-decoration: none;
    font-family: 'Ubuntu', sans-serif;
    color: white;
}
.footer-link:hover {
    color: skyblue;
}